/*bsaic* r246g246b246hexf6f6f6f6*/

h1 {
    font-size: 56px;
    color: #145A32;
    font-family: Courier New, monospace;

}

h2 {
    font-size: 36px;
    color: #0B5345;
    font-family: Courier New, monospace;
}

h3 {
    font-size: 24px;
    color: #0B5345;
    font-family: Courier New, monospace;
    text-align: center;
    text-decoration-line: underline;

}

h4 {
    font-size: 20px;
    color: #0B5345;
    font-family: Courier New, monospace;
    text-align: center;
}

h5 {
     font-size: 16px;
    color: #0B5345;
    font-family: Courier New, monospace;
    text-align: center;
}

h6 {}

p {}

a {
    font-family: Courier New, monospace;
    color: #092911;
}

/*end basic.*/

/*body1*/
#open {
    font-size: 20px;
    font-family: Andale Mono, monospace;
}

/*header*/
header {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
}

.logos {
    order: 2;
    word-break: keep-all;
}

.contact {
    order: 1;
    word-break: keep-all;
}

.aboutus {
    order: 3;
    word-break: keep-all;
}

@media only screen and (max-width: 499px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .logos {
        order: 1;
        flex: 2;
    }

    .contact {
        order: 2;
        margin-bottom: 20px;
    }

    .aboutus {
        order: 3;
    }
}
/*end header*/

#body1 {
    background-color: #f6f6f6;

    ;
}

.opening {
    text-align: center;
}

.gogo {
    display: flex;
    align-items: center;
    justify-content: center;

}

.gogo img {
    max-height: 171px;
    margin-top: 30px;
}

#pressme {
    border: 2px solid #145A32;
    border-radius: 50%;
}

/*end body1*/

/*body2*/
/*breaking: 465, 1108~ 2:3

::before label {
    background-image: url(images/resh.jpg) ; breaking dots: 540px
}
*/

#body2 {
    background-image: url(backgroundform.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: #f6f6f6;

}

.formakom {
    width: 80%;
    margin: 5%;
    padding: 5%;

}

.formarea {
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    padding: 1.9em;
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

#formation-a {
    flex: 1;
    order: 1;
}

#formation-b {
    flex: 2;
    order: 2;
}

}
/*
@media only screen and (max-width: 730px) {

    .formakom {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 5%;
        flex-wrap: wrap;
        padding: 5%;
        justify-content: center;
    }

    .formarea {
        display: flex;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 25px;
        padding: 1.9em;
    }

    #formation-a {
        order: 1;
        
    }

    #formation-b {
        order: 2;
    }


}*/

.formrowa {}

.formrowb {}

.a {}

.b {}

.formrowa,
.formrowb {
    display: flex;
    padding: 10px
}

.formrowb input:not(#submitit) {
    flex: 1;
}

#submit {
    display: flex;
    justify-content: center;
}
input {
    margin-left: 10px;
}

input .a {
    max-height: 22px;
}


label {
    margin: 0px;
}

input[type=submit] {
    width: 130px;
    height: 20px;
}


@media only screen and (max-width: 540px) {
    #edocasion {
        display: flex;
        flex-wrap: wrap;
    }

    input. label #edocasion {
        padding: 20px;
        max-height: 22px;
    }
}
